.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: -1px 0px 11px -2px rgba(132,132,132,0.72);
    box-shadow: -1px 0px 11px -2px rgba(132,132,132,0.72);
}
.chartTitle{
    margin-bottom: 20px;
    font-family: "Yekan Bakh Heavy";
}
.chart-container{
    font-size: 15px;
}