.SliderBar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251 , 251 ,255);
    position: sticky;
    top: 50px;
    overflow: scroll;
}
.slideBarWrapped{
    padding: 20px;
    color: #555;
}
.sliderBarMenu{
    margin-bottom: 10px;
}
.slideBarTitle{
    font-size: 13px;
    color: lightgray;
}
.slideBarList{
    list-style: none;
    padding: 5px;
}
.slideBarListItem{
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
    font-family: "Yekan Bakh Light";
}
.slideBarListItem.active , .slideBarListItem:hover{
    transition: 0.2s !important;
    background-color: rgb(239, 239, 249);
}
.sliderBarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}