.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItems{
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: -1px 0px 11px -2px rgba(132,132,132,0.72);
    box-shadow: -1px 0px 11px -2px rgba(132,132,132,0.72);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.featuredTitle{
     font-size: 30px;
    font-family: "Yekan Bakh Fat" ;
    color: white;
}
.featuredMoneyContainer{
      margin: 20px 0;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 800;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: limegreen;
}
.featuredIcon.Negative{
    color: mediumvioletred !important;
}
.featuredSub{
    font-size: 14px;
}